{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'frontend/vite.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tradutor EPUB</title>
    {% comment %} CSS files will be inserted here by Django when available {% endcomment %}
  </head>
  <body>
    <div id="root"></div>
    {% comment %} JS files will be inserted here by Django when available {% endcomment %}
  </body>
</html>
